.footer {
  padding: 60px 0; /* Убираем боковые, оставляем вертикальные */
  text-align: center;
  background-color: #f8f9fa;
}

.footer h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.contact-info {
  margin-bottom: 30px;
}

.contact-info p {
  margin: 10px 0;
  font-size: 1.2rem;
}

.contact-info a {
  color: #343a40;
  text-decoration: none;
  transition: color 0.3s;
}

.contact-info a:hover {
  color: #00aaff;
}

.social-links a {
  display: inline-block;
  margin: 0 15px;
  padding: 10px 25px;
  border: 1px solid #00aaff;
  color: #00aaff;
  text-decoration: none;
  border-radius: 25px;
  transition: all 0.3s;
}

.social-links a:hover {
  background-color: #00aaff;
  color: white;
}